//FONTS
$header-font: 'Kaushan Script';
$main-font: 'Montserrat';
$content-font: 'Roboto';

//COLORS
$color-yellow: #fce38a;
$color-redish: #f38181;
$color-grey: #999999;
$color-blueish: #95e1d3;
$gradient-on-photo: linear-gradient(rgba(243,129,129, 0.9), rgba(252,227,138, 0.9));




/*SCROLLBAR*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background: rgba(245,245,245,1);
}

::-webkit-scrollbar {
	width: 6px;
	background: rgba(245,245,245,0);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color-blueish;
}



@mixin backgroundSet {
    @for $i from 1 to 8{
        &:nth-child(#{$i}){
            grid-area: work#{$i};
            .photo{
                background-image: url("../images/work#{$i}.png");
            }
        }
    }
}