@import '_variables.scss';
@import '_mixins.scss';
@import '_fontello.scss';
@import '_start.scss';
@import '_content.scss';


*, *::after, *::before{
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    margin:0;
    overflow-x: hidden;
}

h1 {
    font-family: $main-font;
    font-size:2rem;
    text-align: center;
    margin:0 20px 0 20px;
    line-height: 120%;
}

h2 {
    p{
        font-size:4rem;
        font-family: $header-font;
        margin:0;
    }
    font-family: $main-font;
    font-size:6rem;
    margin:.5em;
}
.mg-content h2{
    p{
        font-size:2rem;
        font-family: $header-font;
        margin:.6em;
    }
    font-family: $main-font;
    font-size:3rem;
    margin:.5em;
}

h3{
    font-family: $main-font;
    font-size:1.3rem;
    margin:0;
    }
h3{
    font-size:1em;
    margin:0;
    padding-bottom:10px;
    color:black;
    text-transform: uppercase;
}

img {
    position: relative;
    vertical-align: middle;
    width:100%;
}



a {
    text-decoration: none;
    color:white;
}


.hor-line{
    margin:20px;
    width: 60px;
    height: 3px;
    background: $color-redish;
}
button {
    background: none;
    border: 3px solid white;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    padding:10px;
    width: 260px;
    margin:20px;
    transition: all 0.5s;
    cursor:pointer;
}
button:hover {
    border-color: $color-redish;
    color: $color-redish;
}

b {
    font-size:2em;
}

cite {
    font-size:1.5rem;
    font-weight:bold;
    font-family: $header-font;
}

[data-type='icon'] {
    font-size:2em;
    color: $color-blueish;
    margin-right:30px;
}

q{
    font-family: $content-font;
    line-height: 1.8em;
    color: $color-grey;
}




@media screen and (min-width: 0px) and (max-width: 1250px){
    h1 {
        font-size:3em;
    }
    h2 {
        font-size:2em;
    }
    
    .center {
        width: 90vw; 
    }
}
